/*Папка для стилевых файлов.
--
Пример структуры файлов:
css/
| - style.css
| - normalize.css
| - [другие *.css файлы]

font-family: 'Cuprum', sans-serif;

font-family: 'PT Sans', sans-serif;
*/




body {
  font-size: 12px;
  line-height: 1;
  color: black;
  font-weight: normal;
  font-family: 'Cuprum', 'PT Sans', sans-serif;
  background: #ffffff url("") no-repeat center top;
}

h1 {
  font-size: 18px;
  line-height: 1;
  color: black;
  font-weight: normal;
  font-family: Arial, sans-serif;
}

h2 {
  font-size: 16px;
  line-height: 1;
  color:  #000000;
  font-weight: normal;
  font-family: Arial, sans-serif;
}

/* Header */

.container-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 50px;
  padding-bottom: 50px;
  background-color: #f1f5f7;
}

/* panel */

.panel {
  color: #ffffff;
  background: #293449;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.panel-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
}

.index-logo {
  width: 200px;
  background-color:#ee3643;
  box-shadow: 0 5px #b52933;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  vertical-align: top;
  padding: 12px;
  text-transform: uppercase;
}

.search {
  width: 200px;
  vertical-align: top;
  text-align: center;
  font-size: 17px;
  line-height: 18px;
  vertical-align: top;
  padding: 12px 0;
}

.btn-bookmark {
  width: 150px;
  vertical-align: top;
  text-align: center;
  font-size: 17px;
  line-height: 18px;
  vertical-align: top;
  padding: 12px 0;
}

.btn-cart {
  width: 150px;
  vertical-align: top;
  text-align: center;
  font-size: 17px;
  line-height: 18px;
  vertical-align: top;
  padding: 12px 0;
}

.btn-order {
  width: 150px;
  vertical-align: top;
  text-align: center;
  font-size: 17px;
  line-height: 18px;
  vertical-align: top;
  padding: 12px 0;
}

.panel a {  
  color: #ffffff;
  text-decoration: none;
}

/* contacts-user  */

.contacts-user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 940px;
  margin: auto;
  margin-bottom: 40px;
}

.caption {
  width: 200px;
  color: #ee3643;
  font-style: italic;
  font-size: 16px;
  font-weight: normal;
  line-height: 23px;
  margin: 5px 45px;
}


.contacts {
  width: 270px;
  margin:5px;
}

.phone-number{
  color: #ee3643;
  border: 3px solid #ffffff;
  width: 182px;
  padding: 10px;
  padding-left: 72px;
  font-size: 21px;
  line-height: 18px;
  font-weight: bolder;
}

.adress {
  text-align: center;
  vertical-align: top;
  font-size: 14px;
  line-height: 24px;
  margin-top: 2px;
}

/* user-block */

.user-block {
  width: 60px;
  height: 24px;
  background: #ffffff;
  margin: 5px;
  vertical-align: top;
  text-align: center;
  font-size: 21px;
  line-height: 18px;
  padding: 10px;
  padding-left: 40px;
  margin-right: -45px;
}

.first-user-block {
  width: 120px;
  margin:5px;
  height: 24px;
  background: #ffffff;
  margin: 5px;
  vertical-align: top;
  text-align: center;
  font-size: 21px;
  line-height: 18px;
  padding: 10px;
}

.contacts-user a {
  text-decoration: none;
}

/* main-navigation */


.list-main-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #ffffff;
  background: #32425c;
  box-shadow: 0 5px #293449;
  width: 900px;
  margin: auto;
  text-transform: none;
  list-style: none;
  font-size: 0;
  padding: 0 20px;
}

.item-main-navigation{
  font-size: 17px;
  line-height: 17px;
  vertical-align: top;
  padding: 20px 31px;
}

.main-navigation a{
  color: #ffffff;
  text-decoration: none;
}

/* index тело станицы*/
/* container */

.container {
  display: flex;
  flex-wrap: wrap;
  width: 940px;
  background: #F0FFF0; 
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.section-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #40E0D0;
  width: 940px;
  margin: 0 auto;
  flex-wrap: wrap;
}

/*.features*/

.features {
  align-self: flex-start;
}

.features-item {
  width: 300px;
  margin:5px;
}

.slider {
  margin: 5px;
}

.features-item-after-the-slider {
  display: flex; 
  flex-direction: column;
}

/*.goods*/

.goods {
  
}

.popular-goods {
  display: flex;
  justify-content: space-between;
  width: 940px;
}

.goods-list {
  display: flex;
  justify-content: space-between;
  width: 940px;
}

.goods-item {
  
}

/*.manufacturers*/

.manufacturers {
 
}

.popular-manufacturers {
  display: flex;
  justify-content: space-between;
  width: 940px;
}

.manufacturers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.manufacturers-list div{
 margin-bottom: 20px;
}

/*.services*/

.services {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 50px;
}

.services-slogan {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-bottom: 50px;
}

.about-services {
  display: flex;
  flex-wrap: wrap;
}

.paper-btn-selector {
  width: 240px;
}

.delivery-slogan {
  display: flex;
  flex-direction: column;
  width: 275px;
}

/*грузовик в фото-вебинаре советовали сделать фоном... стоит рассмотреть этот вариант? Или есть еще решения?

Судя по тому, чтонельзя использовать в сетке позиционирование, то фоном сделать прийдется.
*/

/*.technomart-company*/

.technomart-company {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 50px;
}

.about-technomart-company {
  display: flex;
  flex-direction: column;
  width: 520px;
  margin-right: 50px;
}

.technomart-contacts {
  display: flex;
  flex-direction: column;
  width: 300px;
}

/*footer*/

.footer-container {
  display: flex;
  flex-wrap: wrap; 
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  padding-bottom: 30px;
  color: #ffffff;
  background: #293449;
}

.logo-navigation {
  display: flex;
  flex-direction: row;
  width: 940px;
  margin: auto;
  justify-content: space-between;
  margin-bottom: 50px;
}

.social-copyright {
  display: flex;
  flex-direction: row;
  min-width: 940px;
  margin: auto;
  justify-content: space-between;
}

.footer-social {
  margin: 10px;
}

.index-logo-adress {
  display: flex;
  flex-direction: column;
}


.footer-navigations {
  display: flex;
  flex-direction: column;
}

.footer-navigation ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.footer-navigation-goods ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.footer-navigation ul li{
 margin: 5px 40px;
}

.footer-navigation-goods ul li{
 margin: 5px 40px;
}

.footer-navigation ul li:last-child {
 margin-right: 0px;
}

.footer-navigation-goods ul li:last-child {
 margin-right: 0px;
}


/*

inner

*/

.breadcrumbs ul {
  display: flex;
  flex-direction: row;
  background: #40E0D0;
}

.breadcrumbs ul li {
  margin: 10px;
}

.page-heading {
  margin-bottom: 10px;
}

.inner-main-content {
  display: flex;
  flex-direction: row;
  background: #40E0D0;
}

.filter {
  display: flex;
  flex-direction: column;
  background: #40E0D0;
  flex: 1;
}

.manufacturer-item, .еnergy {
  display: flex;
  flex-direction: column;
  background: #40E0D0;
}

.sorting {
  display: flex;
  flex-direction: column;
  background: #40E0D0;
  flex: 3;
}

.sorting-tool {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.sorting-goods-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pages {
  align-self: center;
  margin: 10px;
}










  /*

*/














