/*Папка для стилевых файлов.
--
Пример структуры файлов:
css/
| - style.css
| - normalize.css
| - [другие *.css файлы]

font-family: 'Cuprum', sans-serif;

font-family: 'PT Sans', sans-serif;
*/


body {
  font-size: 12px;
  line-height: 1;
  color: black;
  font-weight: normal;
  font-family: "Cuprum", "PT Sans", sans-serif;
  background: #ffffff url("") no-repeat center top;
}

h1 {
  font-size: 18px;
  color: black;
  font-weight: normal;
}

h2 {
  font-size: 16px;
  color:  #000000;
  font-weight: normal;
}

/* Header */

.container-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 50px;
  padding-bottom: 50px;
  background-color: #f1f5f7;
}

/* panel */

.panel {
  color: #ffffff;
  background: #293449;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.panel-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
}

.index-logo {
  width: 200px;
  background-color:#ee3643;
  box-shadow: 0 5px #b52933;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  vertical-align: top;
  padding: 12px;
  text-transform: uppercase;
}

.search {
  width: 275px;
  vertical-align: top;
  text-align: center;
  font-size: 17px;
  line-height: 18px;
  vertical-align: top;
  padding: 12px 0;
}

.btn-panel {
  width: 150px;
  text-align: center;
}

.btn-panel a {  
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-size: 17px;
  line-height: 18px;
  vertical-align: middle;
  padding: 12px;
  padding-bottom: 18px;
}

.btn-panel a:hover {
  background: #242424;
}

.btn-panel a:active {
  background: red;
}



/* contacts-user  */

.contacts-user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 940px;
  margin: auto;
  margin-bottom: 40px;
}

.caption {
  width: 200px;
  color: #ee3643;
  font-style: italic;
  font-size: 16px;
  font-weight: normal;
  line-height: 23px;
  margin: 5px 45px;
}


.contacts {
  width: 270px;
  margin:5px;
}

.phone-number{
  color: #ee3643;
  border: 3px solid #ffffff;
  width: 182px;
  padding: 10px;
  padding-left: 72px;
  font-size: 21px;
  line-height: 18px;
  font-weight: bolder;
}

.adress {
  text-align: center;
  vertical-align: top;
  font-size: 14px;
  line-height: 24px;
  margin-top: 2px;
}

/* user-block */

.user-block {
  width: 111px;
  height: 45px;
  background: #ffffff;
  margin: 5px;
  text-align: center;
  margin-right: -45px;
  
}

.first-user-block {
  width: 145px;
  height: 45px;
  background: #ffffff;
  margin: 5px;
  margin-right: 0px;
  text-align: center;
}

.contacts-user a {
  display: block;
  text-decoration: none;
  font-size: 21px;
  line-height: 18px;
  vertical-align: top;
  padding: 10px;
  padding-bottom: 18px;
}

.user-block a {
  padding-left: 30px;
}

/* main-navigation */


.list-main-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #ffffff;
  background: #32425c;
  box-shadow: 0 5px #293449;
  width: 900px;
  margin: auto;
  text-transform: none;
  list-style: none;
  font-size: 0;
  padding: 0 20px;
}

.item-main-navigation{
  height: 55px;
  font-size: 17px;
  line-height: 17px;
  vertical-align: top;
}

.main-navigation a{
  display: block;
  color: #ffffff;
  text-decoration: none;
  padding: 22px 31px;
}

/* index тело станицы*/
/* container */

.container {
  display: flex;
  flex-wrap: wrap; 
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.section-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 940px;
  margin: 0 auto;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

/*.features*/

.features {
  justify-content: space-between;
  align-self: flex-start;
  color: #ffffff;
}

.features a {
  position: absolute;
  left: 20px;
  bottom: 20px;
  color: #ffffff;
  text-decoration: none; 
  width: 135px;
  padding: 12px 0px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

.features-item {
  position: relative;
  width: 300px;
  height: 123px;
  margin-bottom: 20px;
  background: red;
}

h3 {
  display: block;
  width: 120px;
  padding-left: 20px;
  font-size: 24px;
  line-height: 30px;
  text-align: left;
  vertical-align: top;
}

.new-flag {
  position: absolute;
  top: 0px;
  right: 0px;
}

.icon-features {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 109px;
  height: 92px;
  padding-top: 31px;
  padding-left: 31px;
}

.materials .icon-features img {
 margin-left: 20px;
}

.tool .icon-features img {
 margin-left: 8px;
}

.materials {
  background: #f6b22d;
}

.tool {
  background: #4aafde;
}

.equipment {
  background: #cc79d1;
}

.discounts {
  background: #85d179;
}

.delivery {
  background: #f6b22d;
}


.materials a {
  background: #dda028;
}

.tool a {
  background: #429dc7;
}

.equipment a {
  background: #b76dbc;
}

.discounts a {
  background: #77bc6d;
}

.delivery a {
  background: #dda028;
}

.slider {
  position: relative;
  width: 620px;
  height: 266px;
  background: #000000 ;
}

.slider-name {
  position: absolute;
  display: block;
  padding-left: 25px;
  margin-top: 25px;
  font-size: 36px;
  line-height: 30px;
  text-align: left;
  vertical-align: top;
  text-transform: uppercase;
}

.slider p {
  position: absolute;
  display: block;
  padding-left: 25px;
  margin-top: 60px;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  vertical-align: top;
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
}

.open-directory {

}

.open-directory a {
  position: absolute;
  left: 25px;
  bottom: 22px;
  color: #ffffff;
  text-decoration: none; 
  width: 195px;
  height: 20px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  background: #ee3643;
}

.features-item-after-the-slider {
  display: flex; 
  flex-direction: column;
}




/*.goods*/



.popular-goods {
  display: flex;
  justify-content: space-between;
  width: 940px;
  background: #f7f3ec;
  margin-bottom: 20px;
}

.goods h2 {
  padding-left: 30px;
  margin-top: 25px;
  font-size: 30px;
  line-height: 30px;
  text-align: left;
  vertical-align: top;
  text-transform: uppercase;
}

.popular-goods-link {
  text-align: center;
  vertical-align: top;
  width: 255px;
  height: 40px;
  margin: 25px;
}

.popular-goods-link a {
  display: block;
  text-decoration: none; 
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  vertical-align: top;
  text-transform: uppercase;
  background: #ee3643;
  padding: 11px;
  color: #ffffff;
}

.goods-list {
  display: flex;
  justify-content: space-between;
  width: 940px;
}

.goods-item {
  border: 1px solid #e5e5e5;
}

/*.manufacturers*/

.manufacturers {
 
}

.popular-manufacturers {
  display: flex;
  justify-content: space-between;
  width: 940px;
  background: #f7f3ec;
  margin-bottom: 20px;
}

.manufacturers h2 {
  padding-left: 30px;
  margin-top: 25px;
  font-size: 30px;
  line-height: 30px;
  text-align: left;
  vertical-align: top;
  text-transform: uppercase;
}

.popular-manufacturers-link {
  text-align: center;
  vertical-align: top;
  width: 255px;
  height: 40px;
  margin: 25px;
}

.popular-manufacturers-link a {
  display: block;
  text-decoration: none; 
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  vertical-align: top;
  text-transform: uppercase;
  background: #ee3643;
  padding: 11px;
  color: #ffffff;
}

.manufacturers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.manufacturers-list-item{
 margin-bottom: 20px;
}

/*.services*/

.servis-content {
  width: 100%;
  margin-bottom: 50px;
  background: #f2f6f8;
}

.services {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: url("../img/truck.png") no-repeat;
  background-position: right bottom;
  /*
  
  
  */
}


.services-slogan {
  display: flex;
  flex-direction: column;
  width: 330px;
  margin-top: 45px; 
  margin-bottom: 65px;
}

.about-services {
  display: flex;
  flex-wrap: wrap;
}

.paper-btn-selector {
  position: relative;
  width: 240px;
}

.vertical-shadow {
  position: absolute;
  left: 100px;
}

.paper-btn input {
    display: none
}

.paper-btn label {
  display: inline-block;
  width: 210px;
  line-height: 30px;
  font-size: 21px;
  color: #ffffff;
  background-color: #32425c;
  cursor: pointer;
  box-shadow:
    0 1px 0 0 #405069 inset,
    0 -1px 0 0 #293449 inset;
  padding: 20px;
  padding-bottom: 23px;
}

.paper-btn input:checked ~ label { 
  
}

.delivery-slogan {
  display: flex;
  flex-direction: column;
  width: 230px;
}

.services h2 {
  font-size: 30px;
  line-height: 24px;
  text-align: left;
  vertical-align: top;
  text-transform: uppercase;
}


/*грузовик в фото-вебинаре советовали сделать фоном... стоит рассмотреть этот вариант? Или есть еще решения?

Судя по тому, чтонельзя использовать в сетке позиционирование, то фоном сделать прийдется.
*/

/*.technomart-company*/

.technomart-company {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 50px;
}

.about-technomart-company {
  display: flex;
  flex-direction: column;
  width: 520px;
  margin-right: 50px;
}

.technomart-contacts {
  display: flex;
  flex-direction: column;
  width: 300px;
}

/*footer*/

.footer-container {
  display: flex;
  flex-wrap: wrap; 
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  padding-bottom: 30px;
  color: #ffffff;
  background: #293449;
}

.logo-navigation {
  display: flex;
  flex-direction: row;
  width: 940px;
  margin: auto;
  justify-content: space-between;
  margin-bottom: 50px;
}

.social-copyright {
  display: flex;
  flex-direction: row;
  min-width: 940px;
  margin: auto;
  justify-content: space-between;
}

.footer-social {
  margin: 10px;
}

.index-logo-adress {
  display: flex;
  flex-direction: column;
}


.footer-navigations {
  display: flex;
  flex-direction: column;
}

.footer-navigation ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.footer-navigation-goods ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.footer-navigation ul li{
 margin: 5px 40px;
}

.footer-navigation-goods ul li{
 margin: 5px 40px;
}

.footer-navigation ul li:last-child {
 margin-right: 0px;
}

.footer-navigation-goods ul li:last-child {
 margin-right: 0px;
}


/*

inner

*/

.breadcrumbs ul {
  display: flex;
  flex-direction: row;
  background: #40E0D0;
}

.breadcrumbs ul li {
  margin: 10px;
}

.page-heading {
  margin-bottom: 10px;
}

.inner-main-content {
  display: flex;
  flex-direction: row;
  background: #40E0D0;
}

.filter {
  display: flex;
  flex-direction: column;
  background: #40E0D0;
  flex: 1;
}

.manufacturer-item, .еnergy {
  display: flex;
  flex-direction: column;
  background: #40E0D0;
}

.sorting {
  display: flex;
  flex-direction: column;
  background: #40E0D0;
  flex: 3;
}

.sorting-tool {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.sorting-goods-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pages {
  align-self: center;
  margin: 10px;
}










  /*

*/














